flows.json
[{"id":"c8d48b30.156508","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1051407e.4ada3","type":"ui_form","z":"c8d48b30.156508","name":"","label":"","group":"4a6dec40.fa4b64","order":1,"width":0,"height":0,"options":[{"label":"RowNumber","value":"rn","type":"number","required":true,"rows":null},{"label":"CustomerId","value":"cid","type":"number","required":true,"rows":null},{"label":"Surname","value":"sn","type":"text","required":true,"rows":null},{"label":"CreditScore","value":"cs","type":"number","required":true,"rows":null},{"label":"Geography","value":"geo","type":"text","required":true,"rows":null},{"label":"Gender","value":"gd","type":"text","required":true,"rows":null},{"label":"Age","value":"ag","type":"number","required":true,"rows":null},{"label":"Tenure","value":"tn","type":"number","required":true,"rows":null},{"label":"Balance","value":"bl","type":"number","required":true,"rows":null},{"label":"NumOfProducts","value":"nop","type":"number","required":true,"rows":null},{"label":"HasCrCard","value":"hcc","type":"number","required":true,"rows":null},{"label":"IsActiveMember","value":"iam","type":"number","required":true,"rows":null},{"label":"EstimatedSalary","value":"es","type":"number","required":true,"rows":null}],"formValue":{"rn":"","cid":"","sn":"","cs":"","geo":"","gd":"","ag":"","tn":"","bl":"","nop":"","hcc":"","iam":"","es":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":440,"wires":[["648b8378.b7bd4c"]]},{"id":"648b8378.b7bd4c","type":"function","z":"c8d48b30.156508","name":"PreToken","func":"global.set(\"rn\",msg.payload.rn)\nglobal.set(\"cid\",msg.payload.cid)\nglobal.set(\"sn\",msg.payload.sn)\nglobal.set(\"cs\",msg.payload.cs)\nglobal.set(\"geo\",msg.payload.geo)\nglobal.set(\"gd\",msg.payload.gd)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"tn\",msg.payload.tn)\nglobal.set(\"bl\",msg.payload.bl)\nglobal.set(\"nop\",msg.payload.nop)\nglobal.set(\"hcc\",msg.payload.hcc)\nglobal.set(\"iam\",msg.payload.iam)\nglobal.set(\"es\",msg.payload.es)\nvar apikey=\"CdAtP54Du6mt0pEPr5lC38qcPJiYrBDsYrn_hSj_3jgJ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":259,"y":397.0000047683716,"wires":[["3069e48a.35d20c"]]},{"id":"3069e48a.35d20c","type":"http request","z":"c8d48b30.156508","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":458,"y":386,"wires":[["cfb9b6ce.cca148"]]},{"id":"989e2b99.602df8","type":"debug","z":"c8d48b30.156508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":897.0000114440918,"y":128.00000190734863,"wires":[]},{"id":"cfb9b6ce.cca148","type":"function","z":"c8d48b30.156508","name":"Pre Prediction","func":"var rn = global.get('rn')\nvar cid = global.get('cid')\nvar sn = global.get('sn')\nvar cs = global.get('cs')\nvar geo = global.get('geo')\nvar gd = global.get('gd')\nvar ag = global.get(\"ag\")\nvar tn = global.get(\"tn\")\nvar bl = global.get('bl')\nvar nop = global.get(\"nop\")\nvar hcc = global.get(\"hcc\")\nvar iam = global.get(\"iam\")\nvar es = global.get('es')\nvar token=msg.payload.access_token\nvar instance_id=\"1c6c79d4-e726-4d2e-9051-f80fc87a428c\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"RowNumber\", \"CustomerId\", \"Surname\", \"CreditScore\", \"Geography\", \"Gender\", \"Age\", \"Tenure\", \"Balance\", \"NumOfProducts\", \"HasCrCard\", \"IsActiveMember\", \"EstimatedSalary\"], \"values\": [[rn,cid,sn,cs,geo,gd,ag,tn,bl,nop,hcc,iam,es]]}]}\n\nreturn msg;","outputs":1,"noerr":0,"x":655.0000076293945,"y":349.00000381469727,"wires":[["41fdf62e.7283b8"]]},{"id":"41fdf62e.7283b8","type":"http request","z":"c8d48b30.156508","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/dc87e32e-317e-4038-a244-4fcd4cd8aefd/predictions","tls":"","persist":false,"proxy":"","authType":"","x":748.5000076293945,"y":293.00000381469727,"wires":[["77d5e168.ac575"]]},{"id":"823a6019.7a953","type":"ui_text","z":"c8d48b30.156508","group":"4a6dec40.fa4b64","order":2,"width":0,"height":0,"name":"","label":"exited","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":120,"wires":[]},{"id":"77d5e168.ac575","type":"function","z":"c8d48b30.156508","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":608.6000366210938,"y":188.60000610351562,"wires":[["823a6019.7a953","989e2b99.602df8"]]},{"id":"4a6dec40.fa4b64","type":"ui_group","z":"","name":"Internship project(Anurag)","tab":"4f72f06e.963af","order":2,"disp":true,"width":"6","collapse":false},{"id":"4f72f06e.963af","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]